---
layout: default
title: Blog
---

<div class="project-list">

  {{ paginator.posts }}
  {% for post in paginator.posts %}
  <p>Cat</p>
  {% include listblog.html entry=post %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
    <section class="block block__pagination block__pagination--simple">
        <div class="container">
            <ul>
                {% if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
                    </li>
                {% endif %}
                {% if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endif %}


