---
layout: page
title: Contact Us
permalink: /contact
---


<h2>Contact Details</h2>

{% if site.data.site.contact_details.address%}
<div class="contact__details-address">
  {{ site.data.site.contact_details.address | markdownify }}
</div>
{%endif%}
{% if site.data.site.contact_details.tel %}
<p>Tel:<a class="contact__details-tel" href="tel:{{ site.data.site.contact_details.tel }}">
  {{ site.data.site.contact_details.tel }}
</a></p>
{% endif%}
{% if site.data.site.contact_details.fax %}
<p>Fax:<a class="contact__details-fax" href="tel:{{ site.data.site.contact_details.fax }}">  {{ site.data.site.contact_details.fax }}
</a></p>
{% endif%}
{% if site.data.site.contact_details.email %}

<p>Email: <a class="contact__details-email" href="mailto:{{ site.data.site.contact_details.email }}">
  {{ site.data.site.contact_details.email }}</a></p>
{%endif%}
