---
layout: page
title: Our People
permalink: /people
---

{% for person in site.people %}{% unless person.alumni %}{% include extractname.html entry=person %}
  <div class="person-card">
    <div class="person-image">
      <img src="{%if person.image contains 'http'%}{{person.image}}{%else%}{{site.data.images.directory | relative_url }}/{%if person.image and person.image != "" %}{{person.image}}{% else %}{{site.data.images.person_placeholder}}{%endif%}{%endif%}" alt="Image of {{person.title}}">
    </div>
    <div class="person-info">
      <h3>{{ name }}</h3>
      {% if person.position %}
      <p>{{ person.position }}{% if person.institution %}, {{ person.institution }}{% endif %}</p>
      {% else %}
      {% if person.institution %}
      <p>{{ person.institution }}</p>
      {% endif %}
      {% endif %}
      <a href="{{ person.url }}">Read more</a>
    </div>
  </div>
{%endunless%}
{% endfor %}
